<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>DirFleet</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.leinnan.dirfleet</string>
    <key>CFBundleVersion</key>
    <string>0.0.1</string>
    <key>CFBundleExecutable</key>
    <string>lwa_fm</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>icon</string>
</dict>
</plist>
